<div class="login-container">
  <div class="login-card">
    <img src="assets/logo-ulbra.png" alt="Logo Ulbra" class="logo-ulbra">
    <h2>Simulado Medicina Ulbra</h2>
    
    <p>{{ modo === 'login' ? 'Acesse sua conta' : (modo === 'cadastro' ? 'Crie sua conta gratuita' : 'Recuperação de acesso') }}</p>

    <form (ngSubmit)="modo === 'login' ? fazerLogin() : (modo === 'cadastro' ? fazerCadastro() : recuperarSenha())">
      
      <div class="input-group" *ngIf="modo === 'cadastro'">
        <label>Nome Completo</label>
        <input type="text" [(ngModel)]="usuario.nome" name="nome" placeholder="Digite seu nome" required>
      </div>

      <div class="input-group">
        <label>E-mail</label>
        <input type="email" [(ngModel)]="usuario.email" name="email" placeholder="seu@email.com" required>
      </div>

      <div class="input-group" *ngIf="modo !== 'recuperar'">
        <label>Senha</label>
        <input type="password" [(ngModel)]="usuario.senha" name="senha" placeholder="******" required>
      </div>

      <button type="submit">
        {{ modo === 'login' ? 'Entrar' : (modo === 'cadastro' ? 'Cadastrar' : 'Enviar Instruções') }}
      </button>
    </form>

    <div class="opcoes-extras">
      <a href="javascript:void(0)" (click)="modo = 'cadastro'" *ngIf="modo === 'login'">Ainda não tenho conta</a>
      <a href="javascript:void(0)" (click)="modo = 'recuperar'" *ngIf="modo === 'login'">Esqueci minha senha</a>
      
      <a href="javascript:void(0)" (click)="modo = 'login'" *ngIf="modo !== 'login'" class="link-voltar">
        Voltar para o Login
      </a>
    </div>
  </div>
</div>