<div class="login-container">
  <header class="page-header">
    <h1 class="main-title animado">
      Simulado Medicina Ulbra
    </h1>
  </header>

  <main class="login-card">
    <div class="logo-container">
      <img src="assets/logo-ulbra.png" alt="Logo Ulbra" class="logo-ulbra">
    </div>

    <form (ngSubmit)="modo === 'login' ? fazerLogin() : recuperarSenha()">
      <div class="input-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" [(ngModel)]="usuario.email" name="email" placeholder="exemplo@ulbra.br" required>
      </div>

      <div class="input-group" *ngIf="modo === 'login'">
        <label for="senha">Senha</label>
        <input type="password" id="senha" [(ngModel)]="usuario.senha" name="senha" placeholder="Sua senha" required>
      </div>

      <div class="actions">
        <button type="submit" class="btn-entrar">
          {{ modo === 'login' ? 'Entrar' : 'Enviar e-mail' }}
        </button>
      </div>
    </form>

    <footer class="opcoes-extras">
      <nav class="nav-links">
        <ng-container *ngIf="modo === 'login'">
          <a routerLink="/cadastro">Ainda não tenho conta</a>
          <a (click)="modo = 'recuperar'" role="button">Esqueci minha senha</a>
        </ng-container>
        <a (click)="modo = 'login'" *ngIf="modo !== 'login'" role="button">Voltar para o Login</a>
      </nav>
    </footer>
  </main>
</div>