body {
    /* O "assets" está no mesmo nível que o "styles.css", então usamos apenas "assets/" */
    background-image: url('assets/fundo app.png');
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}